<div class="col-md-10">
  <h2>URL一覧</h2>
  <button class="btn btn-danger btn-sm" (click)="addLink()">URL登録</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>題材</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let link of links; trackBy: trackFn">
        <td><a href="{{link.url}}">{{link.title}}</a></td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteLink(link)">削除</button>
          <button class="btn btn-danger btn-sm" (click)="editLink(link)" style="margin-left: 20px;">修正</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>