<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li>
    <a routerLink="/add">Addページ</a>
  </li>
  <li>
    <a routerLink="/add/2">Addページwith requestParam 2</a>
  </li>
</ul>

<h2>コーヒー品目リスト作成</h2>
<form [formGroup]="coffeeForm" novalidate>
  <div>
    <label>品名：<input formControlName="name"></label>
  </div>
  <div>
    <label>テイスト：<input formControlName="taste" size="50"></label>
  </div>

  <div>
    <span *ngFor="let state of hotcoldsel">
      <input type="radio" formControlName="hotCold" [value]="state">{{state}}
    </span>
  </div>

  <div>
    <span *ngFor="let item of addssel">
      <input type="checkbox" [value]="item" (change)="onCheckChanged(item,$event.target.checked)">{{item}}
    </span>
  </div>

  <div>
    <select formControlName="nut">
      <option *ngFor="let nut of nutsel" [value]="nut">{{nut}}</option>
    </select>
  </div>
</form>

<p>フォーム入力値:{{coffeeForm.value | json}}</p>

<button type="button" class="btn btn-primary">
  Single Button
</button>


-->

<router-outlet></router-outlet>